*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
background-image: url("https://s2.glbimg.com/lMKi121qPBob_sVWzWb6YxkTBL8=/e.glbimg.com/og/ed/f/original/2019/11/14/sky-night-milky-way-cosmos-atmosphere-space-darkness-galaxy-meteor-nebula-outer-space-astronomy-stars-universe-milkyway-nightsky-astrophotography-cosmic-astronomical-object-meteoroid-537393.jpg");
background-size:100%;
}
.Globo{
 position: absolute;
 width: 150px;
 left:  150px;
 top: 55px;
 height: 150px;
 border-radius: 50%;
 background: #fff;
 box-shadow:  0 0 15px rgba(0, 155,255, 0.5) ,
              0 0 30px rgba(0, 155, 255, 0.5) ,
              0 0 45px rgba(0, 155, 255, 0.5) ,
              0 0 60px rgba(0, 155, 255, 0.5) ,
              0 0 10px rgba(0, 155, 255, 0.5);



.Terra{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 60px;
    background-image: url("http://s2.glbimg.com/UtjaIQRdjkPNipu_yTXrZh80tLk=/e.glbimg.com/og/ed/f/original/2017/09/05/extra_large-1504279459-cover-image.jpg");
    background-size: cover;
    box-shadow:  -25px -25px 25px black inset, 10px 10px 30px white inset, 0px 0px 20px #3a86ff;
    animation: rotate 35s linear infinite;
}

@keyframes rotate{
    to{background-position:  100%;}
}


